.h1{
    font-size: larger;
    font-weight: 900;
}

.h2{
    font-size: medium;
    font-weight: 400;
}

.center{
    align-content: center;
    width: 100%;
}

.wrapper{
    padding: 1% 5%;
    border-radius: 1%;
}

.bg-main{
    background-color: black;
}

.bg-secondary{
    background-color: antiquewhite;
}

.bg-accent{
    background-color: aqua;
}